body {
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

#chat-container {
	width: 100%;
	overflow-y: scroll;
	overflow-wrap: break-word;
	flex: 1;
	box-sizing: border-box;
  	scrollbar-color: #888 #0000;
}

#bottom-bar {
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	display: flex;
	gap: 0.5em;
	flex-direction: column;
}

#chat_input_bar {
	display: flex;
	gap: 1em;
}

#chat_input {
	flex: 2;
}

#reply_info {
	display: none;
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	margin-left: 1em;
	font-weight: bold;
}

#reply_info.replying {
	display: flex;
}

#reply_info_text {
	margin: 0;
	font-size: 0.7em;
	display: flex;
	gap: 0.3em;
	align-items: center;
}

.small_button {
	font-size: 0.6em;
}


.Message {
	padding: 0.1em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0 0.2em 0.2em 0;
	position: relative;
}

.Message:has(.message-name) {
	margin-top: 0.75em;
}

.Message:hover {
	background-color: #00000033;
}
.Mention {
	background-color: #ffffff1c;
}
.Mention:hover {
	background-color: #ffffff55;
}

.message-name {
	margin: 0px;
	font-weight: bold;
	font-size: 1em;
}

.message_options {
	height: 1.6em;
	padding: 0px;
	background-color: #CCC;
	color: #000;
	border: 1px solid #000;
	border-radius: 0.5em;
	box-shadow: none;
	box-sizing: border-box;
	position: absolute;
	right: 1em;
	top: 0;
	transform: translateY(-50%);
	display: flex;
	visibility: hidden;
	padding: 0.15em;
	gap: 0.15em;
}

.message_option {
	height: 100%;
	font-size: 0.5em;
	padding: 0px;
	background-color: #0000;
	border: none;
	border-radius: 0.5em;
	box-shadow: none;
	box-sizing: border-box;
}

.message_option:hover {
	background-color: #0003;
}

.reply_icon {
	background-image: url(../Images/BlackReplyIcon.svg);
}

.trash_icon {
	background-image: url(../Images/BlackTrashIcon.svg);
}

.fit_icon {
	height: 100%;
	aspect-ratio: 1;
}

.Message:hover .message_options {
	visibility: visible;
}

.reply-text {
	font-size: 0.6em;
	font-weight: bold;
	padding-left: 1em;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.reply_line {
	width: 2em;
}

.mention-text {
	font-weight: bold;
	background-color: rgba(0, 94, 255, 0.52);
	border: none;
	border-radius: 0.2em;
	font-family: monospace;
}

.leader {
	color: slateblue;
}
.manager {
	color: purple;
}

@media (prefers-color-scheme: dark) {
	input, button {
		border-radius: 1.5em;
		padding: 0.5em;
		border: 1px solid #7c8eaf;
		box-shadow: 0 0 5px #0004;
		background-color: #4a5569;
	}

	.message_options {
		border: 1px solid #444;
		background-color: #222;
	}

	.reply_icon {
		background-image: url(../Images/WhiteReplyIcon.svg);
	}

	.trash_icon {
		background-image: url(../Images/WhiteTrashIcon.svg);
	}
}