* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(180deg, #999 -50%, #777 69.71%, #222 150%);
	font-family: sans-serif;
	justify-content: center;
	overflow: hidden;
}
h1 {
	font-size: 60px;
	text-align: center;
}

label {
	font-weight: bold;
}

div {
	text-align: center;
	margin: 10px;
}

input[type="text"], input[type="password"], button {
	font-family: inherit;
	font-weight: bold;
	font-size: 18px;
	height: 44px;
	border-radius: 4px;
	outline: 0;
}
input[type="text"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}
input[type="text"]:focus {
	border-color: #f000ff;
}
input[type="password"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}
input[type="password"]:focus {
	border-color: #f000ff;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: #59ff5a;
	border: 0;
	border-bottom: 2px solid #1e830b;
	cursor: pointer;
	margin-right: 5px;
}
button:active {
	position: relative;
	top: 1px;
}

a {
	text-decoration: none;
	color: black;
}

.Loading {
	font-weight: bold;
	visibility: hidden;
}
.loadImg {
	background: url(images/LoadingSpin.png);
	height: 160px;
	width: 160px;
	scale: 0.25;
	margin: auto;
}

.SkinSelector {
	font-weight: bold;
	position: relative;
	top: -250px;
}
.skin {
	background: url(images/playerSkins/1.png);
	height: 320px;
	width: 320px;
	scale: 0.5;
	position: relative;
	top: -150px;
	margin: auto;
}
.down_arrow {
	background: url(images/Arrow.png);
	height: 130px;
	width: 110px;
	scale: 0.4;
	rotate: 90deg;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -300px;
	border-bottom: none;
}
.down_arrow:active {
	top: -299px;
}
.up_arrow {
	background: url(images/Arrow.png);
	height: 130px;
	width: 110px;
	scale: 0.4;
	rotate: -90deg;
	margin-left: auto;
	margin-right: auto;
	border-bottom: none;
}

.topRight {
	position: absolute;
	top: 0;
	right: 0;
}