.person {
	background-color: lightskyblue;
	padding: 0.5em;
	border: 2px solid #000;
	border-radius: 1em;
	font-size: 1em;
	text-align: center;
	box-shadow: 0 0 10px #0007;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	margin-top: 2em;
	margin-bottom: 2em;
}

h3 {
	font-size: 30px;
	font-family: "copperplate";
	margin-bottom: 10px;
	margin-top: 5px;
}
h4 {
	font-size: 22px;
	font-family: "copperplate";
	margin-top: 0px;
	margin-bottom: 5px;
}

h6 {
	font-size: 20px;
	font-family: "copperplate";
	margin-top: 0px;
	margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
	.person {
		background-color: #3e4550;
		border: 1px solid #575a6d;
		box-shadow: #0009;
	}
}