/* General */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
h3 {
	margin: 0.3em;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Game Container */

.game-container {
	position: relative;
	width: 240px;
	height: 208px;
	transform: scale(3);
	image-rendering: pixelated;
	overflow: hidden;
}

/* Inventory */

.inventory {
	position: absolute;
	width: 240px;
	height: 136px;
	transform: scale(3);
	image-rendering: pixelated;
	bottom: 322px;
	background: url(images/inventory.png) no-repeat no-repeat;
}
.inventory[data-inv="false"] {
	visibility: hidden;
}
.inventory[data-inv="true"] {
	visibility: visible;
}

/* Chest */

.chest {
	position: absolute;
	width: 240px;
	height: 136px;
	transform: scale(3);
	image-rendering: pixelated;
	bottom: 322px;
	background: url(images/chest_ui.png) no-repeat no-repeat;
	overflow: hidden;
}
.chest[data-chest="false"] {
	visibility: hidden;
}
.chest[data-chest="true"] {
	visibility: visible;
}

/* Furnace */

.furnace {
	position: absolute;
	width: 240px;
	height: 136px;
	transform: scale(3);
	image-rendering: pixelated;
	bottom: 322px;
	background: url(images/furnace_ui.png) no-repeat no-repeat;
}
.furnace[data-fur="false"] {
	visibility: hidden;
}
.furnace[data-fur="true"] {
	visibility: visible;
}

/* Anvil */

.anvil {
	position: absolute;
	width: 240px;
	height: 136px;
	transform: scale(3);
	image-rendering: pixelated;
	bottom: 322px;
	background: url(images/anvil_ui.png) no-repeat no-repeat;
}
.anvil[data-anv="false"] {
	visibility: hidden;
}
.anvil[data-anv="true"] {
	visibility: visible;
}

/* Hotbar */

.hotbar {
	overflow: hidden;
	width: 240px;
	height: 72px;
	position: absolute;
	transform: scale(3);
	image-rendering: pixelated;
	background: url(images/inventory.png) no-repeat no-repeat;
	background-position-y: -136px;
	bottom: 72px;
}

/* UI Health Bar */

.ui-health-bar {
	width: 79px;
	height: 6px;
	transform: scale(3);
	position: absolute;
	image-rendering: pixelated;
	background: url(images/health-bar/health-bar-10.png) no-repeat no-repeat;
	bottom: 164px;
}

/* Item UI */

.hotbar-item-ui-1 {
	top: 24px;
	left: 48px;
	background: url(images/none.png) no-repeat no-repeat;
}
.hotbar-item-ui-2 {
	top: 24px;
	left: 80px;
	background: url(images/none.png) no-repeat no-repeat;
}
.hotbar-item-ui-3 {
	top: 24px;
	left: 112px;
	background: url(images/none.png) no-repeat no-repeat;
}
.hotbar-item-ui-4 {
	top: 24px;
	left: 144px;
	background: url(images/none.png) no-repeat no-repeat;
}
.hotbar-item-ui-5 {
	top: 24px;
	left: 176px;
	background: url(images/none.png) no-repeat no-repeat;
}

.inventory-item-ui-1 {
	top: 32px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-2 {
	top: 32px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-3 {
	top: 32px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-4 {
	top: 32px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-5 {
	top: 32px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-6 {
	top: 64px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-7 {
	top: 64px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-8 {
	top: 64px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-9 {
	top: 64px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-10 {
	top: 64px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-11 {
	top: 96px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-12 {
	top: 96px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-13 {
	top: 96px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-14 {
	top: 96px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.inventory-item-ui-15 {
	top: 96px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.hand-crafting-item-ui-1 {
	top: 32px;
	left: 218px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.hand-crafting-item-ui-2 {
	top: 64px;
	left: 218px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.hand-crafting-item-ui-3 {
	top: 96px;
	left: 218px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}

.chest-item-ui-1 {
	top: 32px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-2 {
	top: 32px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-3 {
	top: 32px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-4 {
	top: 32px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-5 {
	top: 32px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-6 {
	top: 64px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-7 {
	top: 64px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-8 {
	top: 64px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-9 {
	top: 64px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-10 {
	top: 64px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-11 {
	top: 96px;
	left: 48px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-12 {
	top: 96px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-13 {
	top: 96px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-14 {
	top: 96px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.chest-item-ui-15 {
	top: 96px;
	left: 176px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}

.smelting-item-ui-1 {
	top: 32px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.smelting-item-ui-3 {
	top: 64px;
	left: 144px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.smelting-item-ui-2 {
	top: 96px;
	left: 80px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}

.anvil-item-ui-1 {
	top: 32px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.anvil-item-ui-2 {
	top: 96px;
	left: 112px;
	background: url(images/bedrock.png) no-repeat no-repeat;
}

.mouse-holding-item {
	image-rendering: pixelated;
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.mouse-holding-item[data-inv="false"] {
	visibility: hidden;
}
.mouse-holding-item[data-inv="true"] {
	visibility: visible;
}
.mouse-holding-item-special {
	transform: scale(3);
}

.inventory-slot .stack-number {
	font-size: 8px;
	position: absolute;
	left: 12px;
	top: 2px;
}
.inventory-slot .tooltips {
	font-size: 6px;
	position: absolute;
	left: 12px;
	top: -12px;
	visibility: hidden;
	z-index: 15;
	background: whitesmoke;
	border: solid 1px;
	border-radius: 2px;
	padding: 1.5px;
	text-wrap: nowrap;
}
.inventory-slot:hover .tooltips {
	visibility: visible;
}
.inventory-slot .tooltips[data-content="none"] {
	font-size: 6px;
	position: absolute;
	left: 12px;
	top: -12px;
	visibility: hidden;
	z-index: 15;
	background: whitesmoke;
	border: solid 1px;
	border-radius: 2px;
	padding: 1.5px;
}

.selected-slot {
	position: absolute;
	background: url(images/selected-slot.png) no-repeat no-repeat;
	top: 21px;
	left: 45px;
	width: 22px;
	height: 22px;
}
.selected-slot[data-inv="false"] {
	visibility: hidden;
}
.selected-slot[data-inv="true"] {
	visibility: visible;
}
.crafting-progress-bar {
	position: absolute;
	width: 3px;
	height: 62px;
	image-rendering: pixelated;
	left: 240px;
	top: 41px;
	background: url(images/crafting-progress/crafting-0.png) no-repeat no-repeat;
}
.crafting-button {
	position: absolute;
	width: 22px;
	height: 11px;
	image-rendering: pixelated;
	left: 245px;
	top: 65px;
	background: url(images/craft-button.png) no-repeat no-repeat;
}
.smelting-button {
	position: absolute;
	width: 22px;
	height: 11px;
	image-rendering: pixelated;
	left: 112px;
	top: 65px;
	background: url(images/craft-button.png) no-repeat no-repeat;
}
.anvil-progress-bar {
	position: absolute;
	width: 3px;
	height: 62px;
	image-rendering: pixelated;
	left: 140px;
	top: 41px;
	background: url(images/crafting-progress/crafting-0.png) no-repeat no-repeat;
}
.anvil-button {
	position: absolute;
	width: 22px;
	height: 11px;
	image-rendering: pixelated;
	left: 145px;
	top: 65px;
	background: url(images/craft-button.png) no-repeat no-repeat;
}

/* Respawn */

.respawn-container {
	z-index: 2;
	align-items: center;
	justify-content: center;
}

#respawn {
	text-align: center;
}

/* Player Customization */

.player-info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
	display: flex;
	gap: 0.5em;
	align-items: flex-end;
}

/* Player info */

.player-dur-info {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	display: flex;
	gap: 0.5em;
	align-items: flex-end;
}

/* Chat */

.chat-box {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	display: flex;
	gap: 0.5em;
	align-items: flex-end;
}

.chat-message {
	position: relative;
	bottom: 300px;
}

/* More General */

label {
	display: block;
	font-weight: bold;
}

input[type="text"], 
button {
	font-family: inherit;
	font-weight: bold;
	font-size: 18px;
	height: 44px;
	border-radius: 4px;
	outline: 0;
}

input[type="text"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}

input[type="text"]:focus {
	border-color: #f000ff;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: #59ff5a;
	border: 0;
	border-bottom: 2px solid #1e830b;
	cursor: pointer;
}

button:active:not(#up-move) {
	position: relative;
	top: 1px;
}

/* More Chat */

#chat-display {
	text-align: right;
	align-self: right;
	right: 0px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	left: 210px;
	overflow: hidden;
}

/* Mobile Controls */

.mobile-controls {
	z-index: 15;
	position: absolute;
	left: 1%;
	bottom: 1%;
}

#left-move[data-pressed="1"] {
	background: #1e830b;
}
#right-move[data-pressed="1"] {
	background: #1e830b;
}

#up-move {
	position: absolute;
	bottom: 3em;
}

/* Characters */

.grid-cell {
	position: absolute;
	width: 16px;
	height: 16px;
}

.Character {
	transition: transform 0.1s;
	text-align: center;
}

.Character.you {
	z-index: 1;
}
.Character.you .Character_you-arrow {
	display: block;
}


.Character_you-arrow {
	display: none;
	position: absolute;
	top: -18px;
	left: 5px;
	width: 7px;
	height: 5px;
	background: url(images/arrow.png) no-repeat no-repeat;
}

.Character_health_bar {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthzero.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="10"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthfive.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="9"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthfive.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="8"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthfour.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="7"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthfour.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="6"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healththree.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="5"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healththree.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="4"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthtwo.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="3"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthtwo.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="2"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthone.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="1"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthone.png) no-repeat no-repeat;
}
.Character_health_bar[data-health="0"] {
	display: block;
	position: absolute;
	top: 12px;
	left: 2px;
	width: 12px;
	height: 3px;
	background: url(images/healthzero.png) no-repeat no-repeat;
}

.Character_sprite {
	overflow: hidden;
	top: -3px;
	background: url(images/characters.png);
}

.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: none;
  white-space: nowrap;
  align-items: center;
}
.Character_name {
  color: white;
}
.Character_coins {
  margin-left: 1px;
  color: gold;
}

/* Block */

.Block_sprite {
	background: url(images/block.png) no-repeat no-repeat;
}
.Block_sprite[data-type="grass"] {
	background: url(images/grass.png) no-repeat no-repeat;
}
.Block_sprite[data-type="bedrock"] {
	background: url(images/bedrock.png) no-repeat no-repeat;
}
.Block_sprite[data-type="stone"] {
	background: url(images/stone.png) no-repeat no-repeat;
}
.Block_sprite[data-type="log"] {
	background: url(images/log.png) no-repeat no-repeat;
}
.Block_sprite[data-type="leaves"] {
	background: url(images/leaves.png) no-repeat no-repeat;
}
.Block_sprite[data-type="dirt"] {
	background: url(images/dirt.png) no-repeat no-repeat;
}
.Block_sprite[data-type="sand"] {
	background: url(images/sand.png) no-repeat no-repeat;
}
.Block_sprite[data-type="water"] {
	background: url(images/water.png) no-repeat no-repeat;
	z-index: 5;
	opacity: 0.6;
}
.Block_sprite[data-type="coal_ore"] {
	background: url(images/coal_ore.png) no-repeat no-repeat;
}
.Block_sprite[data-type="iron_ore"] {
	background: url(images/iron_ore.png) no-repeat no-repeat;
}
.Block_sprite[data-type="gold_ore"] {
	background: url(images/gold_ore.png) no-repeat no-repeat;
}
.Block_sprite[data-type="stone_bricks"] {
	background: url(images/stone_bricks.png) no-repeat no-repeat;
}
.Block_sprite[data-type="tall_grass"] {
	background: url(images/tall_grass.png) no-repeat no-repeat;
}
.Block_sprite[data-type="furnace"] {
	background: url(images/furnace.png) no-repeat no-repeat;
}
.Block_sprite[data-type="anvil"] {
	background: url(images/anvil.png) no-repeat no-repeat;
}
.Block_sprite[data-type="chest"] {
	background: url(images/chest.png) no-repeat no-repeat;
}

.Block_sprite[data-far="true"] {
	background: url(images/none.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="5"] {
	background: url(images/none.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="4"] {
	background: url(images/dmgoverlay1.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="3"] {
	background: url(images/dmgoverlay2.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="2"] {
	background: url(images/dmgoverlay3.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="1"] {
	background: url(images/dmgoverlay4.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-hp="0"] {
	background: url(images/dmgoverlay5.png) no-repeat no-repeat;
}
.Block_break_sprite_overlay[data-far="true"] {
	background: url(images/none.png) no-repeat no-repeat;
}

.Layer[data-far="true"] {
	visibility: hidden;
}
.Layer[data-far="false"] {
	visibility: visible;
}
.Block {
	transition: transform 0.1s;
}