body {
	font-family: sans-serif;
	background-color: #999999;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#grid {
	width: 256px;
	height: 256px;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-top: -128px;
    margin-left: -128px;
	outline-color: black;
	outline-style: solid;
	outline-width: 5px;
	border-radius: 3px;
}

.cell {
	background-color: white;
	float: left;
}

button {
	width: 64px;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-top: 140px;
    margin-left: -32px;
    background-color: #AAAAAA;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
}